@{
    ViewData["Title"] = "HomePage";
}

<div class="container">
    <h1>Benvenuto!</h1>

    <div class="d-flex" id="card-container">
        @*Qui vengono stampate le card ricevute tramite chiamata API GET*@
    </div>
</div>





<script type="text/javascript">
    axios.get("/api/PacchettoViaggio")
    .then(res =>{
        console.log("Lista pacchetti", res.data)

        res.data.forEach(pacchetto =>{
            document.querySelector("#card-container").innerHTML +=
            `
                <div class="card me-3" style="width: 18rem;">
                    <img src="${pacchetto.immagine}" style="height: 200px" class="card-img-top" alt="Immagine pacchetto di viaggio">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Titolo:</strong> ${pacchetto.titolo}</h5>
                        <h5 class="card-title"><strong>Località:</strong> ${pacchetto.localita}</h5>
                        <p class="card-text"><strong>Descrizione:</strong> ${pacchetto.descrizione}</p>
                        <p class="card-text"><strong>Prezzo:</strong> ${pacchetto.prezzo}&euro;</p>
                    </div>
                </div>
            `
        })
    })
</script>