@{
    ViewData["Title"] = "Dettagli viaggio";
}

@model int

<div class="container" id="show-container">
    
    <div id="form-messaggio">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Inserire Email">
                <div id="validazione-email">
                    @*Genero degli SPAN nella chiamata POST AXIOS per validare il form*@
                </div>
                
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Testo del messaggio:</label>
                <input type="text" class="form-control" id="testo" placeholder="Inserire testo">
                <div id="validazione-testo">
                    @*Genero degli SPAN nella chiamata POST AXIOS per validare il form*@
                </div>
            </div>

            <div onclick="sendMessage()" class="btn btn-primary" value="Invia">invia </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    let pacchettoContainer = document.querySelector("#show-container");

    //Chiamata API GET che restituisce i dettagli del pacchetto scelto
    axios.get("/api/PacchettoViaggio/Get/" + @Model)
    .then(res =>{
        console.log("Dettaglio Pacchetto Viaggio" , res.data);

        pacchettoContainer.innerHTML +=
        `
            <img src="${res.data.immagine}" class="card-img-top" alt="Immagine pacchetto viaggio">

            <div class="travel-feature d-flex justify-content-between">

                <div class="travel-description">
                    <h3><strong>${res.data.titolo}</strong></h3>
                    <p><strong>Località:</strong> ${res.data.localita}</p>
                    <p><strong>Descrizione:</strong> ${res.data.descrizione}</p>
                    <p><strong>Prezzo:</strong> ${res.data.prezzo}&euro;</p>
                </div>

                <div class="actions">
                    <a href="@Url.Action("Edit", "PacchettoViaggio", new {id = Model})" class="btn btn-primary my-3">Modifica</a>
                    <form asp-controller="PacchettoViaggio" asp-action="Delete" asp-route-id="@Model" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Elimina</button>
                    </form>
                </div>

            </div>
        `
    })
    .catch(err =>{
        console.log("Errore" , err);
    })

    //Chiamata API POST che manda un messaggio e lo collega al pacchetto scelto
    function sendMessage() {

        let pacchettoViaggioId = window.location.pathname.split("/")[3];
        let email = document.querySelector('#email');
        let testo = document.querySelector('#testo');

        axios.post("/api/Messaggio/Post", {
            email: email.value,
            testo: testo.value,
            pacchettoViaggioId: pacchettoViaggioId,
        })
        .then(res => {

            //Se il form viene inviato correttamente, svuoto i due input ed i DIV con la validazione
            document.querySelector('#email').value = "";
            document.querySelector('#testo').value = "";

            //Se esiste lo SPAN, svuoto il DIV
            if (document.querySelector('#email-errore')) {
                document.querySelector("#validazione-email").innerHTML = "";
            }

            //Se esiste lo SPAN, svuoto il DIV
            if (document.querySelector('#testo-errore')) {
                document.querySelector("#validazione-testo").innerHTML = "";
            }

            alert('Messaggio inviato!');
        })
        .catch(err => {
            console.log(err);
            alert('Dati non validi, riprovare');

            //Se esiste lo SPAN, svuoto il DIV
            if (document.querySelector('#email-errore')) {
                document.querySelector("#validazione-email").innerHTML = "";
            }

            //Se esistono degli errori, li ciclo e li stampo come SPAN all'interno del DIV della validazione
            if (typeof err.response.data.errors.Email !== 'undefined' && err.response.data.errors.Email.length > 0) {
                err.response.data.errors.Email.forEach(erroreEmail => {
                    document.querySelector("#validazione-email").innerHTML += ` <span id="email-errore" class="alert-danger">${erroreEmail}</span> `;
                })
            }

            //Se esiste lo SPAN, svuoto il DIV
            if (document.querySelector('#testo-errore')) {
                document.querySelector("#validazione-testo").innerHTML = "";
            }

            //Se esistono degli errori, li ciclo e li stampo come SPAN all'interno del DIV della validazione
            if (typeof err.response.data.errors.Testo !== 'undefined' && err.response.data.errors.Testo.length > 0) {
                err.response.data.errors.Testo.forEach(erroreTesto => {
                    document.querySelector("#validazione-testo").innerHTML += ` <span id="testo-errore" class="alert-danger">${erroreTesto}</span> `;
                })
            }
            
        })
    }
</script>

