@{
    ViewData["Title"] = "Crea pacchetto viaggio";
}

@model PacchettoViaggio

<form asp-controller="PacchettoViaggio" asp-action="Store" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="titolo" class="form-label">Titolo:</label>
        <input type="text" asp-for="Titolo" class="form-control" id="titolo" placeholder="Inserire titolo">
    </div>
    <div class="mb-3">
        <label for="località" class="form-label">Località:</label>
        <input type="text" asp-for="Località" class="form-control" id="località" placeholder="Inserire località">
    </div>
    <div class="mb-3">
        <label for="immagine" class="form-label">Immagine:</label>
        <input type="text" asp-for="Immagine" class="form-control" id="immagine" placeholder="Inserire url immagine">
    </div>
    <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione:</label>
        <input type="text" asp-for="Descrizione" class="form-control" id="descrizione" placeholder="Inserire descrizione">
    </div>
    <div class="mb-3">
        <label for="prezzo" class="form-label">Prezzo:</label>
        <input type="number" step="0.01" asp-for="Prezzo" class="form-control" id="prezzo" placeholder="Inserire prezzo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
